<!--
<button (click)="cliente()" class="btn btn-dark">CLIENTE </button>
<button (click)="departamento()" class="btn btn-dark" style="margin-left: 10px; ">DEPARTAMENTO</button>
<button (click)="distrito()" class="btn btn-dark " style="margin-left: 10px; ">DISTRITOS</button>
<button (click)="direccion()" class="btn btn-dark " style="margin-left: 10px; ">DIRECCIONES</button>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" (click)="cliente()">Cliente</a>
            </li>
            <li class="nav-item active">
                <a class="navbar-brand" (click)="direccion()">Direccion </a>
            </li>
            <li class="nav-item active">
                <a class="navbar-brand" (click)="distrito()">Distritos </a>
            </li>
            <li class="nav-item active">
                <a class="navbar-brand" (click)="departamento()">Departamentos </a>
            </li>
        </ul>
    </div>
</nav>
